<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="API_Testing" verbose="1">
    <parameter name="url" value="https://jsonplaceholder.typicode.com/"/>

    <test name="Verify_User_Resources">

        <classes>
            <class name="com.jsonplaceholder.users.UserTest"/>
        </classes>
    </test>
    <test name="Verify_Post_Resources">

        <classes>
            <class name="com.jsonplaceholder.posts.PostsTest"/>
        </classes>
    </test>


</suite>
